@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html { font-size: 62.5%; }

body{
  overflow-x: hidden;
  font-family: 'Lato',sans-serif;
  color: #505962;
}

/* home */
.home-inner{
  background-image: url(./img/street.jpg);
}

.caption{
  
  width: 100%;
  position: absolute;
  top: 40%;
  color: white;
  z-index: 1;
}

.navbar{
  font-weight: 500;
  
}
.navbar-brand{
  margin: 1.4rem .9rem;
}
.nav-item{
  margin-right: 1.5rem;
}

.nav-link{
  font-size: 1.4rem;
  letter-spacing: .1em;
}

.caption h1{ 
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.caption h3{
  margin-bottom: 3rem;
}
.caption .btn{
  padding:  1rem 2rem;
  
}

/* about */
#about{
  /* background-color: burlywood; */
  margin-top: 8rem;
}
.narrow{
  width: 80%;
  margin: 0 auto ;
}

.about-img img{
  width: 100%;
  
}

.about-message h3{
  font-size: 3rem;
  font-weight: 700;
  /* margin-bottom: 2rem; */
}
.about-message hr{
  color:black;
  
  margin-bottom: 4rem;
}

.about-message p{
  margin-bottom: 3rem;
  letter-spacing: .1rem;
}


.about-message{
  font-size: 1.2rem;
  /* letter-spacing: 0.9rem; */
}

/* skills */
#skills{
  margin-top: 5rem;
}

.section-title{
  font-size: 3rem;
  margin-bottom: 2rem;
}
.skill-name{
  font-size: 2rem;
}

.skill-subtitle{
  font-size: 1.4rem;
}
.ruby{
  /* font-size:20px;
   */
   width: 40px;
}

.skill-info-{
  width: 75%;
  margin: 0 auto;
}
.skill-info{
  font-size: 1.2rem;
  text-align: left;
  margin-top: 20px;
}

.skillall{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.skillall h5{
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.skillall p{
  font-size:1.4rem;
}






/* works */
#works{
  width: 90%;
  margin: 5rem auto;
}

/* contact */

#contact{
  color: white;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.footer-logo img{
  width: 10rem;
  margin-bottom:1rem ;
}

#contact svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0 ;
}

#contact svg.svg-inline--fa:hover{
  opacity: 0.8;
}

.email {
  margin-top: 1rem;
  font-size:1.4rem;
}

.copy{
  margin: 0;
}







/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
